/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* новый шрифт */
@font-face {
    font-weight: 700;
    font-family: "Amagro";
    src: url("/fonts/Amagro.ttf");
}

header{
    height: 100%;
    background-size: cover;
}

/*header*/
.header_container{
    background: linear-gradient(180deg, rgba(73, 218, 255, 0.60) 0%, rgba(158, 232, 255, 0.55) 26.04%, rgba(141, 222, 191, 0.49) 55.73%, rgba(51, 185, 126, 0.40) 78.65%, rgba(26, 125, 60, 0.60) 100%);
    display: flex;

}

.header_image{
    display: flex;
    margin: 0 0 0 210px;
}

.header_text_block{
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 32px;
}

.header_text_first{
    color: #2A3800;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 0 15px 0;
    overflow-wrap: anywhere;
}

.header_text_second{
    color: #537E10;
    text-align: center;
    font-family: Amagro;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
}

.header_text_third{
    color: #2A3800;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 145px 0 0 133px;
}
/*main*/

.menu_container a, a:link, a:visited  {
    text-decoration: none;
    color: #2A3800;
}

a:hover  {
    text-decoration: none;
    color: #2A3800;
}

.main_container{
    white-space: nowrap;
    width: 100%;
    text-decoration: none;
    color: #2A3800;
    background: #EEEEEF;
}

.menu{
    display: flex;
    color: #2A3800;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
}

.menu a{

}

.menu :not(:first-child,svg){
    padding: 0 0 0 68px;
}

.menu_container{
    display: flex;
    padding: 20px 120px 20px 120px;
    align-items: flex-start;
    border-radius: 0px 0px 16px 16px;
    border-bottom: 1px solid #D5E4EB;
    background: #FFF;
}

.menu_icons{
    display: flex;
    padding: 0 0 0 2px;
}

.main_menu{
    width: 100%;
}

.icon{
    padding: 0 5px 0 0;
}

.main_text{
    display: flex;
    padding: 32px 0 0 120px;
    align-items: center;
}

.main_text_first a{
    color: #2A3800;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 9px 0 0;
}
.main_text_second a{
    color: #537E10;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 0 0 9px;
}

.news_container{
    padding: 29px 120px 78px 120px;

}

.news_text{
    color: #2A3800;
    font-family: Amagro;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 0 0 50px 0;
}

.news_block_first{
    border-radius: 20px;
    background: #537E10;
    padding: 0 30px 0 0;
}

.news_block_first_ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
}

.news_container ul a{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}

#first_news_text{
    border-radius: 20px;
    background: #50BF55;
    display: flex;
    padding: 16px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.news_block_container{
    padding: 50px 0 0 0;
}

.news_block_main{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border-radius: 30px;
    background: #FFF;

}

.news_block_main_element{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.news_block_main_element_text{
    color: #2A3800;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}


#block_element_2, #block_element_3 , #block_element_6,
#block_element_7, #block_element_10, #block_element_11{
    padding: 0 0 56px 0;
}

/* footer */
.footer_container{
    background:#2A3800;
}

.footer_first_text{
    color: #878D73;
    text-align: center;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 50px 0 0 0;
}

.footer_second_text{
    color: #FFF;
    font-family: Amagro;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 12px 0 0 0;
}

.footer_third_text{
    color: #878D73;
    text-align: center;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 11px 0 0 0;
}

.footer_block{
    display: flex;
    padding: 50px 120px 50px 120px;
    justify-content: center;
}

.footer_element :not(:last-child) {
    padding: 0 25px 0 0;
}

.footer_element_2{
    padding: 0 25px 0 20px;
}

.footer_1{
    color: #FFF;
    font-family: Amagro;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer_2 p{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_2 p:first-child{
    padding: 20px 0 0 0;
}

.footer_3 p{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_footer{
    background: #50BF55;
    display: flex;
    padding: 10px 662px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}